<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TruckQuantity" value="3" />    
    <add key="RandomPercentage" value="50" />
    <add key="ImprovementIterationPercentage" value="2" />
    <add key="CostRelation" value="70" />        
    <add key="MaxSeedIteration" value="100" />
    <add key="MaxIterations" value="100" />
    <add key="TakeArcPercentage" value="50" />
    <add key="PrintGraph" value="false" />  
    <add key="WaitEnter" value="true" />  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.C:\Users\lanacondio\Documents\Tesis\ConsoleTpTesis\ConsoleTpTesis\App.configClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>